@model AvatarUploadFormModel

<form enctype="multipart/form-data" method="post" asp-controller="Manage" asp-action="UploadAvatar">
  <input asp-for="File" />
  <br>
  <span asp-validation-for="File"></span>
  <br>
  <input type="submit" value="Upload" />
</form>