@model CommentFormModel

<form id="post-form" asp-controller="Comment" asp-action="Create" asp-antiforgery="true">
  <input type="hidden" name="TopicPostId" value="@Model.TopicPostId" />
  <partial name="_PostInputsPartial" model="@Model"></partial>
  <input id="post-submit-button" type="button" value="Create" />
</form>

<script>
  $("#post-submit-button").click(function (event) {
    $.post($("#post-form").attr('action'), $("#post-form").serialize())
  })
</script>