@model PostShowViewModel

<partial name="_UserProfileLinkPartial" model="@new UserProfileLinkViewModel(Model.Poster.UserName, Model.Poster.DisplayName)"></partial>
&nbsp;<span class="m7">@Model.TimeStamp.ToString("HH:mm:ss")</span>

<p>
  @Model.Body
</p>