@model PostCreateViewModel

@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

@{
  string controller = "DiaryPost";
  string action = "Create";
  var routeParams = new Dictionary<string,string> {
    { "userName", Model.BoardOwnerName },
    { "topicOrd", Model.TopicOrd.ToString() }  
  };
}

@if (SignInManager.IsSignedIn(User)) { 
<form asp-controller="@controller" asp-action="@action" asp-all-route-data="@routeParams" method="post">
  Create a post:<br>
  <partial name="_PostInputsPartial" model="@new PostFormModel()"></partial>
  <input type="submit" value="Create" />
</form>
}
else {
  <p>Log in to create Posts</p>
}