@model PostCreateViewModel

@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure

<form action="@Model.CreatePath" method="post" asp-antiforgery="true">
  Create a post:<br>
  <partial name="_PostInputsPartial" model="@new PostFormModel()"></partial>
  <input type="submit" value="Create" />
</form>