@model PostCreateViewModel

@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

@{
  //l8r add conditions based on boardtype
  var controller = "DiaryPost";
  var action = "Create";
  var routeParams = new Dictionary<string,string>
  {
    { "userName", Model.BoardOwnerName },
    { "topicId", Model.TopicId.ToString() }
  };
}

@if (SignInManager.IsSignedIn(User)) { 
<form asp-controller="@controller" asp-action="@action" asp-all-route-data="routeParams" method="post">
  Create a post:<br>
  <partial name="_PostInputsPartial" for="Post">
  <input type="hidden" asp-for="TopicId" />
  <input type="submit" value="Create" />
</form>
}
else {
  <p>Log in to create Posts</p>
}