@model TopicShowViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

<h2 class="topic-title">@Model.Title</h2>
<div id="post-container">
  @{
    int i = 0;
  }
  @foreach (var p in Model.PostIds) 
  {
    <vc:post post-id="@p" show-date="true" />
    if (Model.CanEdit && i == 0) {
      <span style="float: left;" class="m9">
        <partial name="_TopicOptionsPartial" model="@Model.TopicId"></partial>
      </span>
    }
    <br>
    ++i;
  }
</div>

@if (SignInManager.IsSignedIn(User)) { 
  <partial name="_PostCreatePartial" model="@new PostCreateViewModel(Model.TopicId)"></partial>
}
else {
  <p>Log in to create posts</p>
}

<script>
  topicId = @Model.TopicId
</script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/topic.js"></script>