@model TopicCreateViewModel

@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

@if (SignInManager.IsSignedIn(User)) { 
<form asp-controller="Topic" asp-action="Create" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" method="post">
  Title: <br>
  <input asp-for="Topic.Title" /><br>
  <span asp-validation-for="Topic.Title"></span><br>
  <input type="hidden" asp-for="boardId" />
  Post: <br>
  <partial name="_PostInputsPartial" for="Op"></partial>
  <input type="submit" value="Create" />
</form>
}
else {
  <p>Log in to create topics</p>
}