@model TopicCreateViewModel

@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

@if (SignInManager.IsSignedIn(User)) { 
<form action="@Model.CreatePath" method="post" asp-antiforgery="true">
  <partial name="_TopicInputsPartial" model="@new TopicFormModel()"></partial>
  <input type="submit" value="Create" />
</form>
}
else {
  <p>Log in to create topics</p>
}