@model TopicFormViewModel

<div asp-validation-summary="All"></div>

<form asp-controller="Topic" asp-action="Create" method="post">
  Title: <br>
  <input asp-for="Topic.Title" /><br>
  <span asp-validation-for="Topic.Title"></span><br>
  <input type="hidden" asp-for="boardId" />
  <input type="submit" value="Create" />
</form>