@model UserProfileLinkViewModel

@if (!Model.Anonymous)
{
  <a class="user" asp-controller="Account" asp-action="ShowProfile" asp-route-userName="@Model.UserName">
    @Model.DisplayName
  </a>
}
else
{
  <span>Anonymous</span>
}