@model UserDiaryEntryFormModel

<form asp-controller="UserDiaryEntry" asp-action="Create">
  <input type="hidden" name="DiaryOwnerUserName" value="@Model.DiaryOwnerUserName" />
  <partial name="_TopicInputsPartial" model="@Model"></partial>
  <button type="submit">Create</button>
</form>