@model UserProfileLinkViewModel

@if (Model.Valid) {
  <a class="user"
    asp-controller="Account"
    asp-action="ShowProfile"
    asp-route-userName="@Model.UserName">
  @Model.DisplayName
  </a>
}