@model TopicShowViewModel

@foreach (var p in Model?.Topic.Posts ?? Enumerable.Empty<Post>()) 
{
  <p><b>Post:</b></p>
  <partial name="_PostShowPartial" model="@p"></partial>
}

<partial name="_PostCreatePartial" model="@Model?.NewPost"></partial>