Max fil3size 1MB max dimensions 80x115
<br> 
<div class="custom-summary" asp-validation-summary="All"></div>

<partial name="_AvatarUploadFormPartial" model="@new AvatarUploadFormModel()"></partial>
<br>
<partial name="_AvatarUploadFormPartial" model="@new AvatarUploadFormModel()"></partial>
<br>
<partial name="_AvatarUploadFormPartial" model="@new AvatarUploadFormModel()"></partial>