@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <partial name="_LeftBannerPartial"></partial>
    <div class="content-container">
        <partial name="_BoardShowPartial" model="@Model.Board"></partial>
    </div>
</div>