@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure
@using Beon.Models

@model DiaryViewModel

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

<div class="flex-container">
  <partial name="_DiarySideBarPartial" model="@Model.UserName"></partial>
  <div class="content-container">
    <partial name="_BoardShowPartial" model="@Model.Board"></partial>
  </div>
</div>