/* Global */

body {
  margin: 0.5%;
  background-color: #ffffff;
}

.m9 {
  font-size: 9px;
}

.m7 {
  /* 0.75*0.75 */
  font-size: 56.25%;
  color: #666666;
  white-space: nowrap;
}

.m2 {
  /* 0.75*0.75 */
  font-size: 75%;
  color: #666666;
  white-space: nowrap;
}

/* 0.75*0.75 */
.m4 {
  font-size: 56.25%;
}

.m3 {
  font-size: 12px;
}

h2, h3, p, div, span {
  font-family: Tahoma,Verdana,Arial,Geneva,Helvetica,sans-serif;
}

.text-danger {
  color: #ff0000;
} 

.field-validation-error {
  color: #ff0000;
  font-size: 12px;
}

.custom-summary {
  height: 80%;
}

.custom-summary ul li {
  list-style-type: none;
}

.custom-summary ul {
  padding: 0;
}

.input-validation-error {
  border-color: red;
}

.alert-error-img {
  display: none;
}

.field-validation-error .alert-error-img {
  display: inline;
}

.user, .user_processed {
  background: url('/i/smiles/user.png') no-repeat scroll 3px 0px;
  padding-left: 18px;
  /* 1.1 * 0.75 */
  font-size: 13.2px;
}

.topic-title {
  font-size: 19.2px;
  margin-left: 3px;
}

.blog-title {
  /* 1.5 * 0.75 */
  font-size: 112.5%;
  color: #666666;
}

.blog-subtitle {
  font-size: 75%;
  color: #666666;
}

A {
  color: #0048AB;
}

textarea.ar {
  width: 100%;
  overflow: hidden;
  min-height: 280px;
  resize: none;
} 

.postbg {
  overflow-wrap: break-word;
}

.post-body {
  font-size: 12px;
  flex: 1;
}

.avatar {
  flex-shrink: 0;
  width: fit-content;
}

.leftbanner {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 24%;
  min-height: 128px;
  padding: 0 1% 2% 0;
}

.mheadred {
  font-size: 11.2px;
  color: #ffffff;
  font-weight: bold;
  padding: 0.4em 0.6em 0.4em 0.5em;
  background-color: #990000;
}

.mheadorange {
  font-size: 11.2px;
  color: #ffffff;
  font-weight: bold;
  padding: 0.4em 0.6em 0.4em 0.5em;
  background-color: #f57a28;
}

.flex-container {
  display: flex;
}

.content-container {
  flex: 1;
  word-break: break-word;
  overflow: hidden;
  padding-right: 3px;
}

.menubg {
  background-color: #ffffff;
  border: solid 1px #dddddd;
  padding: 6px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.datebg {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 18px;
  padding-left: 3px;
  font-size: 18px;
}

.flag {
  margin-bottom: -2px;
}

.image-small {
  max-width: 25%;
}

.image-medium {
  max-width: 50%;
}

.image-large {
  max-width: 90%;
}

.post-options {
  font-size: 9px;
}

.smile {
  margin-bottom: -2px;
}

/* Post input */

.hbutton-bar {
  background-color: #eeeeee;
  border: 1px solid #999999;
  margin: 0;
  padding: 1px;
  width: fit-content;
  white-space: nowrap;
  font-size: 75%;
}

.hbutton {
  display: inline-block;
  border: 1px solid #eeeeee;
  white-space: nowrap;
  padding: 1px;
  margin-bottom: 1px;
  vertical-align: 2px;
  height: 18px;
}

.hbutton:hover {
  background-color:#dff1ff;
  border:1px solid #316ac5;
}

.hbutton img {
  margin: 0px 0px -2px;
}

.smiles-box {
  font-size: 75%;
}

.smiles-box img {
  margin-bottom: -1px;
  margin-top: 2px;
  border: 0px;
}

/* Header */

#header {
  display: flex;
  height: 75px;
}

#header-logo {
  display: flex;
  flex-direction: column;
  width: 190px;
  justify-content: center; /* align vertical */
  align-items: center; /* align horizontal */
}

#header-diary {
  display: flex;
  flex-direction: column;
  width: 295px;
  justify-content: center; /* align vertical */
  align-items: center; /* align horizontal */
}

#header-links {
  display: flex;
  padding: 0;
  border-spacing: 0;
  border: 1px solid #EBEBEB;
  border-radius: 10px 0 0 10px;
  background: #F7F7F7;
  flex: 1;
  max-width: 1528px;
}

#login-header {
  position: absolute;
  top: 60px;
  width: 100%;
}

.header-links-spacer {
  width: 8%;
}

.header-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -5px;
  white-space: nowrap;
}

.header-links-container a {
  font-size: 10.2px;
  color: #666666;
}
.header-links-container span {
  height: 14px;
}

#logoff-form {
  display: none;
}

#logo {
  width: 150px;
  height: 57px;
}

/* Login */
.login-form-wrapper {
  width: 295px;
  background-color: #FFFFFF;
  border-spacing: 5px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
}

.login-form-grid {
  margin: 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, auto);
}

.login-input {
  font-size: 20px;
  width: calc(100% - 9px);
}

.login-input-label-wrapper {
  display: flex;
  text-align: right;
  align-items: center;
}

/* Crumbs */

.hrline {
  border: 0;
  border-top: 1px solid #dddddd;
}

.crumbsbg {
  display: flex;
}

.crumbsinner {
  text-align: left;
  font-size: 12px;
}

.crumbsinnerlinks {
  font-size: 11.4px;
  flex: 1;
  text-align: right;
}