/* Global */

body {
  margin: 0.5%;
}

/* 0.75*0.75 */
.m4 {
  font-size: 56.25%;
}

.m3 {
  font-size: 75%;
}

h2, h3, p, div, span {
  font-family: Tahoma,Verdana,Arial,Geneva,Helvetica,sans-serif;
}

.text-danger {
  color: #ff0000;
} 

.custom-summary {
  height: 80%;
}

.custom-summary ul li {
  list-style-type: none;
}

.custom-summary ul {
  padding: 0;
}

/* Header */

#header {
  display: flex;
  height: 75px;
}

#header-logo {
  display: flex;
  flex-direction: column;
  width: 190px;
  justify-content: center; /* align vertical */
  align-items: center; /* align horizontal */
}

#header-links {
  display: flex;
  padding: 0;
  border-spacing: 0;
  border: 1px solid #EBEBEB;
  border-radius: 10px 0 0 10px;
  background: #F7F7F7;
  flex: 1;
}

#login-header {
  position: absolute;
  top: 10px;
  width: 100%;
}

.header-links-spacer {
  width: 8%;
  max-width: 41px;
}

.header-links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-links-container a {
  font-size: 63.75%;
  color: #666666;
}
.header-links-container span {
  height: 14px;
}

#logoff-form {
  display: none;
}

#logo {
  width: 150px;
  height: 57px;
}

/* Login */
.login-form-wrapper {
  width: 295px;
  background-color: #FFFFFF;
  border-spacing: 5px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
}

.login-form-grid {
  margin: 5px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, auto);
}

.login-input {
  font-size: 20px;
  width: calc(100% - 9px);
}

.login-input-label-wrapper {
  display: flex;
  text-align: right;
  align-items: center;
}

/* Crumbs */

.hrline {
  border: 0;
  border-top: 1px solid #dddddd;
}