@model ICollection<LinkViewModel>

@if (Model.Count() > 0) {
  <div class="mheadorange">Новые комментарии у:</div>
  <div class="menubg">
    @foreach (var link in Model) {
      <a class="m3" href=@link.Url>@link.Text</a>
      <br>
    }
  </div>
}