@model DiaryTopicViewModel //l8r DiaryTopicViewModel n move this to a partial

<div class="flex-container">
  <partial name="_DiarySideBarPartial" model="@Model.UserName"></partial>
  <div class="content-container">
    <partial name="_TopicShowPartial" model="@Model.Topic"></partial>
  </div>
</div>