@model BoardsListViewModel

@using Microsoft.AspNetCore.Identity
@using Beon.Infrastructure

@inject SignInManager<BeonUser> SignInManager
@inject UserManager<BeonUser> UserManager

@foreach (var b in Model?.Boards ?? Enumerable.Empty<Board>())
{
  <a asp-controller="Board" asp-action="Show" asp-route-boardId="@b.BoardId">@b.Name</a><br>
}
<br>

@if (await UserManager.IsAdmin(User)) {
  <a asp-action="Create">New Board</a>
}
else {
  <p>Not an admin, can't create boards</p>
}