@model BoardsListViewModel

@foreach (var b in Model?.Boards ?? Enumerable.Empty<Board>())
{
  <a asp-controller="Board" asp-action="Show" asp-route-boardId="@b.BoardId">@b.Name</a><br>
}
<br>
<a asp-action="Create">New Board</a>