@model BoardShowViewModel

<h1>@Model.Board.Name</h1>

@foreach (var t in Model?.Board.Topics ?? Enumerable.Empty<Topic>()) {
  <p>
    <a asp-controller="Topic" asp-action="Show" asp-route-topicId="@t.TopicId">@t.Title</a>
  </p>
}

<partial name="_TopicCreatePartial" model="@Model?.newTopicForm"></partial>