@model UserDiaryEntryPageViewModel


<div class="flex-container">
  <partial name="_UserDiarySideBarPartial" model="@Model.UserName"></partial>
  <div class="content-container">
    <partial name="_UserDiaryEntryEditPartial" model="@new UserDiaryEntryFormModel { DiaryOwnerUserName = Model.UserName }"></partial>
  </div>
</div>